

    {% extends 'app/layout.html' %}
    {% load static %}

    {% block body %}

    <h2>Izaberi minimalno 3 stanice na mapi</h2>
                
            <div id="js-map" class="map"></div>
           
            <form class="form-group" action="{% url 'mapa:dodaj_liniju' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="dodaj_liniju" value="Sacuvaj" type="submit" class="btn btn-primary w-auto">
            </form>
        
        
    
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    <div class="overlay-container">
        <button class="btn btn-primary" id="chekirajStanicu">Dodaj</button><br>
        <span class="overlay-text" id="feature-name"></span><br>
        <span class="overlay-text" id="feature-additional-info"></span><br>

    </div>
    
    <script src="{% static 'mapa/main.js' %}"></script>
    <script>
        
      prikaziStanice('{% url "api:stanice" %}')
    
      uslov()
      
    </script>
{% endblock %}
