{% extends 'app/layout.html' %}
{% load static %}

{% block body %}
<h1>{{linija.naziv}}</h1>        
        <div id="js-map" class="map"></div> 
        <a class="btn btn-primary mt-2" href="{% url 'mapa:dodaj_liniju' %}">Dodaj novu liniju</a>

<div class="overlay-container">
    <span class="overlay-text" id="feature-name"></span><br>
    <span class="overlay-text" id="feature-additional-info"></span><br>

</div>
<script src="{% static 'mapa/main.js' %}"></script>
<script>
    
  prikaziStanice('{% url "api:linija" pk %}')
   
    
</script>
{% endblock %}