{% extends 'app/layout.html' %}
{% block body %}
<h1>Dostupne autobuske stanice</h1>

    
    {% if lista_stanica %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Lokacija</th>
        </tr>
        {% for stanica in lista_stanica %}
            <tr>    
                <td>{{stanica.naziv}}</td>  
                <td>{{stanica.opis}}</td>
                <td>{{stanica.tacka}}</td>
            </tr>        
        {% endfor %}

    </table>
    {% else %}
    <strong>Nema dostupnih stanica</strong>
    {%endif%}
<br>
<a href="{% url 'app:dodaj_stanicu' %}" class="btn btn-primary w-100 mb-3">Dodaj autobusku stanicu</a>
<a href="{% url 'mapa:prikaz_stanica' %}" class="btn btn-secondary w-100">Pogledaj stanice na mapi</a>
{% endblock %}