{% extends 'app/layout.html' %}
{% block body %}
<h1>Dostupne autobuske stanice</h1>

    
</ul>
<table>
    <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Lokacija</th>
    </tr>
    {% for stanica in lista_stanica %}
        <tr>    
            <td>{{stanica.naziv}}</td>  
            <td>{{stanica.opis}}</td>
            <td>{{stanica.tacka}}</td>
        </tr>        
    {% endfor %}

</table>
<br>
<a href="{% url 'app:dodaj_stanicu' %}">Dodaj autobusku stanicu</a>
{% endblock %}